name: "CI"
on: [push, pull_request]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: "1.18.x"

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@latest

    # Checks-out the repository under $GITHUB_WORKSPACE
    - uses: actions/checkout@v2

    # Run linters
    - name: Run go vet
      run: go vet ./...
    - name: Run goimports
      run: test -z $(find . -name '*.go' -type f | xargs goimports -e -d | tee /dev/stderr)
    - name: Run staticcheck
      run: staticcheck github.com/fyne-io/fyne-cross/...

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ["1.17.x", "1.14.x"]

    steps:
    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    # Checks-out the repository under $GITHUB_WORKSPACE
    - uses: actions/checkout@v2

    # Run tests
    - run: go test -race ./...
